:root{
     --black: #222222;
}
html {
    
    box-sizing: border-box;
   
}

body {
    color: var(--black);
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    min-height: calc(100vh - 100px);
    width: 100%;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr minmax(4fr, 1440px) 1fr;
    margin: 0px;
    background-color: #F9F9F9;
  
}

.wrapperTop {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-self: stretch;
   
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center{
    grid-column: 2;
    grid-row: 2;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2),
    0 6px 20px 5px rgba(0, 0, 0, 0.4);
}

.top {
    position: relative;
    display: grid;
    padding: 60px;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr 2fr; 
    grid-template-rows: 50px 3fr 50px 50px;  
    justify-items: center;    
    background: linear-gradient(to right,rgba(255, 255, 255, 0.6) 60%, rgba(186, 85, 211, 0.6 ) 60%),
     url(background.jpg);
    background-size: cover;
    min-height: 600px;
}

.hero{
    grid-row: 2;
    letter-spacing: 0.02em;
    
}

.hero h1{
    font-size: 96px;
    font-weight: bold;
}

.hero h2 {
    font-size: 36px;
    font-weight: bold;
    
}
.hero p {
    font-size: 18px;
    word-wrap: break-word;
    width: 50%;
    font-weight: 500;
    line-height: 25px;

}
.name{
    
    color: rgb(126, 43, 126);
}

.helloworld{
    font-size: 72px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    grid-row:2;
    grid-column: 3;
    justify-content: flex-end;
    align-items: flex-start;
    justify-self: end;
    flex-wrap: wrap;
    color: rgba(255,255,255, 0.2);
    
    
}
.helloworld div{
    padding: 10px;
}
.hello, .world {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.h, .w {
    position: relative;
    bottom: 160px;
    
}

.e, .o2{
    position: relative;
    bottom: 120px;
}

.l,
.r {
    position: relative;
    bottom: 80px;
}

.l2,
.l3 {
    position: relative;
    bottom: 40px;
}
.o,
.d {
    position: relative;
    
} 


.nav{
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    display: flex;
    flex-wrap: wrap;
}
.nav>a{
    text-decoration: none;
    color: white;
    margin-left: 48px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;

}
.links>a, .nav>a{
    transition: all .2s;
}

.links>a:hover,
.nav>a:hover {
    transition: all .2s;
    color: rgba(255, 255, 255, 0.2)
}

#useful{
    color: white;    
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
    align-self: end;
    font-size: 14px;
    border-bottom: 1px solid white;
    width: 110px;
    text-align: right;
    padding: 3px;
    margin-right:8px;

}

.links{
    color: white;
    font-size: 35px;
    grid-column: 3;
    grid-row: 4;
    justify-self: end;
    align-self: end;
    display: flex;
}

.links > a {
    margin-left: 10px;
    text-decoration: none;
    color: inherit;

}

.avatar{
    position: absolute;
    top: 25%;
    right: calc(40% - 140px);
    height: auto;
    width: 280px;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2),
    0 6px 20px 5px rgba(0, 0, 0, 0.19);
    z-index: 10;
   animation: 1s ease-out 0s 1 dong;
}

.contact{
     margin-top: 30px;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    letter-spacing: 0.02em;
    font-size: 36px;
    text-align: center;
}

.contactBtns {
    margin-top: 30px;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    letter-spacing: 0.02em;
    font-size: 36px;
}
.contactButton{
    display: flex;
    border: 1px solid rgb(126, 43, 126);
    border-radius: 50px;
    margin: 30px;
    
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    text-decoration: none;
}
#contactMe{
    background-color: rgb(126, 43, 126);
    color:white;
}
#contactMe:hover{
    background-color: rgb(50, 184, 83);
    border-color: rgb(50, 184, 83);
}

#cv{
    
    color: rgb(126, 43, 126);
}

#cv:hover{
    border-color: rgb(50, 184, 83);
    color: rgb(50, 184, 83);
}

.mainText{
    margin-top: 80px;
    text-align: center;
       display: flex;
       justify-content: center;
       letter-spacing: 0.02em;
       font-size: 36px;
       font-weight: bold;
}

@keyframes dong {
    0% {
        
    }
    50%{
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0);
    }
}